ul.checkout_list{
    background-color: rgb(119, 144, 11);
}
ul.ul_list{
   
    display: flex;
    flex-direction: row;
    padding-left: -15px;
    background-color: rgb(211, 211, 210);
    padding: 15px 0;
}
ul.ul_list li{
    padding-left: 15px;
    font-weight: bold;
}
/* ul.ul_list li:first-child{
    padding-left: 0px;
    color: blue;
    
} */
.info{
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
